[submodule "exercises-course/b6-html-css-forms-flexbox/flexbox/p1/exercises/exercises-course/b6-html-css-forms-flexbox/flexbox/p1/exercises/exercise-tech-gallery"]
	path = exercises-course/b6-html-css-forms-flexbox/flexbox/p1/exercises/exercises-course/b6-html-css-forms-flexbox/flexbox/p1/exercises/exercise-tech-gallery
	url = https://github.com/tryber/exercise-tech-gallery.git
