/* 

Use the CSS settings below as a reference and:

1) Put goomba below Mario
2) Put the text inside the baloon
3) Put the baloon position as a Bowser speach

.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {

}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
}

*/

.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 290px;
    margin-left: 50px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    float: left;
    margin-left: 300px;
    margin-top: 1px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    float: left;
    margin-left: 320px;
    margin-top: 65px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    float: left;
    margin-left: 550px;
    margin-top: 195px;
  }