* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pokemon {
  height: auto;
  width: 400px;
  border: 1px solid black;
  margin: 25px;
  transition: background-color 800ms;
  border-radius: 10px;
  flex-basis: 25%;
  align-self: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  width: 50vw;
  align-self: center;
  border-radius: 5px;
}

.pokemon:hover {
  cursor: pointer;
  background-color: red;
}

h1 {
  text-align: center;
}

.btn {
  height: 40px;
  width: 150px;
  align-self: center;
  border-radius: 4px;
  margin: 10px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}


