* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
.form {
    width: 550px;
    margin: 5px;
    padding: 5px;
}

fieldset {
    display: block;
}

h1 {
    margin: 5px;
    padding: 5px;
}

#fullname {
    margin-left: 32px;
}

.buttons {
   display: flex;
   justify-content: right;
   align-items: flex-end
}

.checkbox {
    font-size:small
}