* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pokemon {
  height: auto;
  width: 400px;
  border: 3px solid;
  margin: 25px;
  transition: all 500ms;
  border-radius: 10px;
  flex-basis: 25%;
  align-self: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  width: 50vw;
  align-self: center;
  border-radius: 5px;
}

.pokemon:hover {
  cursor: pointer;
  background-color: #F8E3D7;
}

h1 {
  text-align: center;
}

.btn {
  height: 40px;
  width: 150px;
  align-self: center;
  border-radius: 4px;
  margin: 10px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.Fire {
  border: 3px solid red;
  transition: all 500ms;
}

.Electric {
  border: 3px solid #E0DE6A;
  transition: all 500ms;
}

.Poison {
  border: 3px solid palevioletred;
  transition: all 500ms;
}

.Psychic {
  border: 3px solid blue;
  transition: all 500ms;

}

