* {
    box-sizing: border-box;
  }

body {
    margin: 3px;
    padding: 3px;
    font-family: cursive; 
}

.all {
    height: auto;
    width: 900px;
    margin: 5px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.content {
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    display: inline-block;
    border-radius: 5px;
}

.title {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.linux {
    font-size: 30px;
}

.html-css-js {
    font-size: 25px;
}

.internet {
    font-size: 20px;
}

.softskills {
    font-size: 15px;
}

