* {
    box-sizing: border-box;
  }

  body {
    margin: 3px;
    padding: 3px;
    background-color: antiquewhite;
}

.content {
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    display: inline-block;
    border-radius: 5px;
}

.myname {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.linux {
    font-size: 30px;
}

.html-css-js {
    font-size: 25px;
}

.internet {
    font-size: 20px;
}

.softskills {
    font-size: 15px;
}

