* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace; 
}

.all {
    height: auto;
    width: 900px;
    margin: 5px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.profile-pic {
    float: left;
    margin: 15px 15px;
    border: 15px transparent;
    border-radius: 5px;
    /* margin-top: 12px; */
}

.content {
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    /* display: inline-block; */
    border-radius: 5px;
}

.author {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}

.skills li:nth-child(2n+1) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.linux {
    font-size: 30px;
}

.html-css-js {
    font-size: 25px;
}

.internet {
    font-size: 20px;
}

.softskills {
    font-size: 15px;
}

